@tailwind base;
@tailwind components;
@tailwind utilities;

.image-gallery-image {
  width: 45vw !important;
  border-radius: 1%;
}

.image-gallery-slide,
.image-gallery-slides {
  border-radius: 1% !important;
}
.image-gallery-swipe {
  padding-left: 10px;
}
.image-gallery {
  width: max-content;
  margin: auto;
}
.image-gallery-right-nav {
  right: 5% !important;
}
.image-gallery-left-nav {
  left: 5% !important;
}
.image-gallery-icon {
  background: #fff !important;
  color: black !important;
  font-weight: bold !important;
  border-radius: 50% !important;
  padding: 5px 10px !important;
  border: 1px solid #000000 !important;
  filter: none !important;
  display: none;
}

.image-gallery-icon:hover {
  background: #e8e7e7 !important;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 50px !important;
  border: none !important;
  cursor: pointer !important;
}
.image-gallery-icon > svg {
  width: 12px !important;
  height: auto !important;
}
.image-gallery-slide-wrapper {
  width: auto !important;
}
.image-gallery-slide-wrapper:hover .image-gallery-icon {
  display: block;
}
.image-gallery-thumbnails {
  margin-left: -5px;
}
.image-gallery-thumbnail:hover,
.image-gallery-thumbnail:focus,
.active {
  outline: none;
  border: none !important;
  border-radius: 5%;
}
.image-gallery-thumbnail,
.image-gallery-thumbnail:focus,
.image-gallery-thumbnail:hover {
  border: none !important;
}
.active > .image-gallery-thumbnail-inner > .image-gallery-thumbnail-image,
.image-gallery-thumbnail-image:hover {
  border: 4px solid black !important;
  border-radius: 15% !important;
}

.image-gallery-thumbnail-image {
  border: 4px solid transparent !important;
  border-radius: 15% !important;
}

.image-gallery-svg {
  stroke-width: 3px !important;
}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1099px) and (min-width: 950px) {
  .image-gallery-right-nav {
    right: 7% !important;
  }
  .image-gallery-left-nav {
    left: 7% !important;
  }
}
@media screen and (max-width: 949px) and (min-width: 768px) {
  .image-gallery-right-nav {
    right: 9% !important;
  }
  .image-gallery-left-nav {
    left: 9% !important;
  }
}
@media screen and (max-width: 949px) and (min-width: 769px) {
  .image-gallery-image {
    width: 330px !important;
    border-radius: 1%;
  }
}
@media screen and (max-width: 768px) and (min-width: 600px) {
  .image-gallery-image {
    width: 80vw !important;
    border-radius: 1%;
  }
  .image-gallery-right-nav {
    right: 9% !important;
  }
  .image-gallery-left-nav {
    left: 9% !important;
  }
}
@media screen and (max-width: 599px) and (min-width: 450px) {
  .image-gallery-image {
    width: 75vw !important;
    border-radius: 1%;
  }
  .image-gallery-right-nav {
    right: 12% !important;
  }
  .image-gallery-left-nav {
    left: 12% !important;
  }
}
@media screen and (max-width: 449px) {
  .image-gallery-image {
    width: 68vw !important;
    border-radius: 1%;
  }
  .image-gallery-thumbnail .image-gallery-thumbnail-image {
    width: 90% !important;
    margin: auto;
  }
  .image-gallery-right-nav {
    right: 12% !important;
  }
  .image-gallery-left-nav {
    left: 12% !important;
  }
  .image-gallery-swipe {
    padding-left: 1px;
  }
}
